<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>BlocoNotas</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="//cdn.jsdelivr.net/jquery/2.1.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">

  <!-- navbar -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-cloud"></span>
          NeverNote
        </a>
      </div>

      <div class="col-lg-4 col-lg-offset-3 col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-1">

        <form class="navbar-form" method="get">
          <div class="input-group">
            <a href="/" class="input-group-addon btn">×</a>

            <input type="text" name="busca" value="" class="form-control"
                   required="required" placeholder="Buscar...">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">Buscar</button>
        </span>
          </div>

        </form>
      </div>

      <div class="navbar-right">

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">
            <img class="img-circle"
                 src="http://avatars3.githubusercontent.com/u/2741?s=34"
                 width="34" height="34">
            John Doe
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
                Configurações
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                Perfil
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-lock"></span>
                Alterar Senha
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-log-out"></span>
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br><br>
  <!-- /navbar -->

  <!-- flash message
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="alert alert-success text-center fade in">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button>
        Anotação Salva com Sucesso!
      </div>
    </div>
  </div>
  <!-- /flash message -->

  <!-- row principal -->
  <div class="row">
    <div class="col-sm-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Pastas
          </h2>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#">
                <span class="glyphicon glyphicon-book"></span>
                Gerais
                <span class="badge pull-right">3</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                Pessoais
                <span class="badge pull-right">7</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-tower"></span>
                Faculdade
                <span class="badge pull-right">1</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-5">

      <!-- panel list -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <a href="<%= new_note_path %>" class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Nova Nota
          </a>
          <h4>
            Minhas Anotações
            <a class="badge">2</a>

          </h4>
        </div>

        <div class="list-group">
          <% for note in @notes %>
              <a href="<%= edit_note_path(note) %>" class="list-group-item">
                <%= note.titulo %>
                <span class="badge"><%= l note.updated_at, format: :short %></span>
              </a>
          <% end %>
            </div>
      </div>
      <!-- /panel list -->

    </div>

    <div class="col-sm-5">
      <div class="well well-sm">

        <!-- formulário -->
              <%= form_for @note, class: 'clearfix' do |f| %>
            <div class="field">
              <%= f.label :titulo %><br>
              <%= f.text_field :titulo, class: 'form-control input-lg', autofocus: '', required: true %>
            </div>
            <br>
            <div class="field">
              <%= f.label :texto %><br>
              <%= f.text_area :texto, class: 'form-control input-lg', id: 'sdmfghskuj', required: true %>

            </div>
            <br>
            <div class="actions">
              <%= f.submit 'Salvar', class: 'btn btn-lg btn-primary pull-right' %>
            </div>
            <% unless @note.new_record? %>
                <div class="actions">
                  <a href="<%= note_path @note %>" data-method="delete" data-confirm="Tem Certeza que deseja excluir a nota <%= @note.titulo %>?" class="btn btn-danger btn-lg">
                    Excluir
                     </a>
                </div>
            <% end %>

            <br><br><br>

        <% end %>
<%= @teste %>
        <!-- /formulário -->

      </div>
    </div>
  </div>
  <!-- /row principal -->

</div>
<!-- /container -->

</body>
</html>
